Домашнее задание «Python как инструмент анализа данных»

In [2]:
import pandas as pd

In [57]:
df = pd.read_csv('Google_DFD_46_54.csv', sep=',')

In [50]:
df.head()

,Отметка времени,Месяц,Месяц с номером,Название операции,Сумма операции,Категория затрат,Регулярная трата
0,3/27/2023 16:12:26,Январь,01 Январь,Тройка,1200.0,Авто и транспорт,NaN
1,3/27/2023 16:20:07,Январь,01 Январь,Гитара,9000.0,Дети,NaN
2,3/27/2023 16:03:47,Январь,01 Январь,Коньяк,900.0,Еда инапитки,NaN
3,3/17/2023 15:52:59,Январь,01 Январь,Сырок,9.0,Еда инапитки,ЛОЖЬ
4,3/27/2023 16:18:45,Январь,01 Январь,Мультипликация,2600.0,Образование и Книги,NaN

In [45]:
len(df)

68

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Отметка времени     68 non-null     object
 1   Месяц               68 non-null     object
 2   Месяц с номером     68 non-null     object
 3   Название операции   68 non-null     object
 4   Сумма операции      68 non-null     float64
 5   Категория затрат    68 non-null     object
 6   Регулярная трата    21 non-null     object
dtypes: float64(1), object(6)
memory usage: 3.8+ KB

In [48]:
df.describe()

       Сумма операции
count       68.000000
mean      2459.897059
std       3118.981661
min          9.000000
25%        495.750000
50%       1200.000000
75%       2600.000000
max      10000.000000

In [53]:
df.columns

Index(['Отметка времени', 'Месяц', 'Месяц с номером', 'Название операции ',
       'Сумма операции', 'Категория затрат', 'Регулярная трата'],
      dtype='object')

In [55]:
df[['Категория затрат','Сумма операции']]

                 Категория затрат  Сумма операции
0                Авто и транспорт          1200.0
1                            Дети          9000.0
2                    Еда инапитки           900.0
3                    Еда инапитки             9.0
4             Образование и Книги          2600.0
..                            ...             ...
63  Электроника и бытовая техника          1207.0
64               Авто и транспорт          1200.0
65  Электроника и бытовая техника           522.0
66               Авто и транспорт          1200.0
67                           Дети          9000.0

[68 rows x 2 columns]

In [56]:
df_small = df[['Категория затрат','Сумма операции']]

In [58]:
df_small.head()

      Категория затрат  Сумма операции
0     Авто и транспорт          1200.0
1                 Дети          9000.0
2         Еда инапитки           900.0
3         Еда инапитки             9.0
4  Образование и Книги          2600.0

In [59]:
df_small.groupby('Категория затрат').sum()

                               Сумма операции
Категория затрат
Авто и транспорт                      14400.0
Дети                                  54951.0
Еда инапитки                           2493.0
Образование и Книги                   13155.0
Одежда и аксессуары                   15283.0
Платежи                               41900.0
Прочие расходы                        10000.0
Электроника и бытовая техника         15091.0